
[submodule "vendor/Roc_ECS"]
	path = vendor/Roc_ECS
	url = https://github.com/PSMusicalRoc/Roc_ECS.git
[submodule "vendor/RocLogger"]
	path = vendor/RocLogger
	url = https://github.com/PSMusicalRoc/RocLogger.git
