
[submodule "vendor/Roc_ECS"]
	path = vendor/Roc_ECS
	url = https://github.com/Rocket-Game-Engine/Roc_ECS.git
[submodule "vendor/RocLogger"]
	path = vendor/RocLogger
	url = https://github.com/Rocket-Game-Engine/RocLogger.git
[submodule "vendor/cereal"]
	path = vendor/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "docs/Rocket-Game-Engine.github.io"]
	path = docs/Rocket-Game-Engine.github.io
	url = https://github.com/Rocket-Game-Engine/Rocket-Game-Engine.github.io.git
	branch = development